<!DOCTYPE html>
<html lang="en">
  <head>

    <base href="/"/>
    <meta charset="utf-8"/>

    <!-- About this page -->
    <title>Markdown Flow Editor for Standard Notes</title>

    <!-- App Scripts -->

  </head>

  <body>
    <main>
      <textarea>
        The editor has not been loaded.
      </textarea>
    </main>
  </body>

  <footer></footer>

  <%= htmlWebpackPlugin.tags.scriptTags %>
  
</html>